# Node modules
node_modules/
hackday/team_clight/node_modules/*
hackday/team_clight/debug/*

hackday/icp_deck/token.json
hackday/icp_deck/client_secret.json

# debug images
debug/*.png
hackday/salesUI/debug/*.txt

*/*/package-lock.json
hackday/icp_deck/client_secret.json

# data folders
data/
output/
debug/

*/data/

*/*/env/
*/env/

.DS_Store
*/.DS_Store
*.env